body {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    text-align: center;
}

fieldset{
    border: none;
}

.submitButton, .resetButton{
    font-size: 20px;
}